@font-face {
    font-family: 'ArvoRegular';
    src: url('/fonts/unicornbreeders-regular.eot');
    src: url('/fonts/unicornbreeders-regular.eot') format('embedded-opentype'),
         url('/fonts/unicornbreeders-regular.woff') format('woff'),
         url('/fonts/unicornbreeders-regular.ttf') format('truetype'),
         url('/fonts/unicornbreeders-regular.svg#ArvoRegular') format('svg');
}

@font-face {
    font-family: 'ArvoBold';
    src: url('/fonts/unicornbreeders-bold.eot');
    src: url('/fonts/unicornbreeders-bold.eot') format('embedded-opentype'),
         url('/fonts/unicornbreeders-bold.woff') format('woff'),
         url('/fonts/unicornbreeders-bold.ttf') format('truetype'),
         url('/fonts/unicornbreeders-bold.svg#ArvoBold') format('svg');
}
